/* ----- archives : éléments généraux ----- */

.entry-title,
.archive-title {
@include rem(font-size, $archive-title--mobile--font-size);
color: $gris-moyen;
}

.archive-pre-title {
  font-style: italic;
  font-family: $font-family--accent;
  color: $gris-clair;
}

.archive-description {
  @include rem( font-size, $archive-description--mobile--font-size );
  margin-bottom: 40px;
  padding: 30px;
  text-align: center;

  p:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: $screen-size--medium) {

}
