/* ----- meta (entry footer) ----- */

.entry-footer {

  .entry-meta {
    padding-top: 24px;
    margin-bottom: 0;
    @include rem( font-size, $entry-footer-meta--mobile--font-size );
    text-align: right;

      .entry-time,
      .entry-categories,
      .entry-tags,
      .entry-comments-link {
      text-transform: uppercase;
      a {
        text-transform: none;
        font-style: italic;
        font-family: $font-family--accent;
        text-decoration: none;
        color: $gris-moyen;
      }
      }
  }
}

.entry-categories,
.entry-tags {
  display: block;
}


@media only screen and (min-width: $screen-size--large) {

  .entry-footer {
  @include grid-column(8, $principal-grid);
  @include grid-push(3, $principal-grid);
  clear: both;
  .entry-meta {
    @include rem( font-size, $entry-footer-meta--desktop--font-size );
  }
  }
}
