/* ----- footer : site footer ----- */

.site-footer {
  background-color: $siteFooter--background-color;
  @include rem( font-size, $site-footer--mobile--font-size );
  line-height: 1.2;
  padding: 12px 60px;
  text-align: center;
  margin-bottom: 50px;
  font-family: $font-family--headings;
  color: $gris;

  .footer-title {
  text-transform: uppercase;
  }

  p {
  margin-bottom: 0;
  }

  .accent-love,
  a {
  font-family: $font-family--accent;
  font-style: italic;
  color: $gris;
  }
}

a.mentions-footer {
text-transform: uppercase;
text-align: center;
font-family: $font-family--headings;
color: $gris;
@include rem(font-size, $footer-mentions--mobile--font-size);
padding-bottom: 2%;
margin-left: 20px;
}


@media only screen and (min-width: $screen-size--regular) {
  .site-footer {
  @include rem( font-size, $site-footer--tablet--font-size );
  padding: 16px 20px;
  }
  a.mentions-footer {
  text-align: left;
  @include rem(font-size, $footer-mentions--tablet--font-size);
  margin-left: 4%;
  margin-bottom: 20px;
  }
}

@media only screen and (min-width: $screen-size--large) {
  .site-footer {
  @include rem( font-size, $site-footer--desktop--font-size );
  padding: 20px 10px;
  }
  a.mentions-footer {
  @include rem(font-size, $footer-mentions--desktop--font-size);
  margin-left: 6%;
  margin-bottom: 20px;
  }
}
