
html {
  font-size: $html--font-size; /* 10px browser default */
}

body {
  background-color: $body--background-color;
  color: $base__color;
  font-family: $base--font-family;
  @include rem( font-size, $base--mobile--font-size );
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-normal;
  line-height: $base--line-height;
  margin: 0;

   @media screen and (min-width: $screen-size--small) {
      @include rem( font-size, $base--font-size );
  }

  /* Chrome fix */
  > div {
    font-size: $base--div--mobile--font-size;

     @media screen and (min-width: $screen-size--small) {
          font-size: $base--div--font-size;
    }
  }
}
