/* ----- navigation : primary ----- */

.nav-primary {

  @media only screen and (min-width: $screen-size--regular) {
  @include grid-column(4, $principal-grid);
  }

  .menu-primary {
    margin-top: 100px;
    li {
    text-transform: uppercase;
    display: block;
    }

    a {
    padding: 8px 20px;
    @include rem(font-size, $menu-primary--desktop--font-size);
    }

  }

}
