/* ----- comments : base stylings ----- */


.entry-comments {
  max-width: $max-width;
  margin: 40px auto;
  padding: 30px;
  margin-bottom: 5%;
  background-color: $comment--background-color;
    h3 {
    @include rem( font-size, $title-comments--mobile--font-size );
    text-align: center;
    }
}


.entry-pings {
  padding: 60px 60px 32px;
}


.entry-pings .reply {
  display: none;
}

// tablette
@media only screen and (min-width: $screen-size--medium) {

}

// desktop
@media only screen and (min-width: $screen-size--large) {

  .entry-comments {
  margin-bottom: 40px;
  padding: 30px 90px;
    h3 {
    @include rem( font-size, $title-comments--desktop--font-size );
    }
  }

}
