/* ----- front page : éléments communs ----- */


.custom-front-page {

  article.page{
  padding: 0px;
  }

  p.post-info,
  p.entry-meta {
  @include rem(font-size, $front-page-postinfo--mobile--font-size);
  font-style: italic;
  font-family: $font-family--accent;
  margin-bottom: 12px;
  }

  a.more-link {
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  padding: 8px 24px;
  font-weight: $font-weight-bold;
  }


  .custom-html-widget {

    .categories-articles {
    font-family: $font-family--accent;
    font-style: italic;
    font-size: $front-page-separateurs-categories--mobile--font-size;
      span.categories-accent {
      text-transform: uppercase;
      font-family: $font-family--primary;
      font-style: normal;
      }
    }

    .tous-articles {
    @include grid-column(3, $principal-mobile-grid);
    text-transform: uppercase;
    color: $gris-moyen;
    float: right;
    margin: auto;

      a {
      text-decoration: none;
      color: $gris-moyen;
      }

      .signe {
      @include grid-column(1, $principal-mobile-grid);
      @include rem(font-size, $front-page-une-articles-suppl-signe--mobile--font-size);
      line-height: 0.8;
      font-weight: $font-weight-normal;
      padding-right: 12px;
      text-align: right;
      border-right: $border--thin-gris-moyen;
      }

      .texte-lien {
      @include grid-column(3, $principal-mobile-grid);
      font-weight: $font-weight-bold;
      font-family: $font-family--headings;
      @include rem(font-size, $front-page-une-articles-suppl-texte--mobile--font-size);
      }
    }
  }


  //tablette
  @media only screen and (min-width: $screen-size--medium) {

    .custom-html-widget {
      .tous-articles {
        @include grid-column(5, $principal-tablet-grid);
        float: right;

        .signe {
        @include grid-column(1, $principal-tablet-grid);
        @include rem(font-size, $front-page-une-articles-suppl-signe--desktop--font-size);
        line-height: 0.7;
        margin-left: 18px;
        }

        .texte-lien {
        @include grid-column(4, $principal-tablet-grid);
        font-weight: $font-weight-bold;
        font-family: $font-family--headings;
        @include rem(font-size, $front-page-une-articles-suppl-texte--mobile--font-size);
        }
      }
    }
  }


// tablette
  @media only screen and (min-width: $screen-size--regular) {

    .post-info {
    @include rem(font-size, $front-page-postinfo--desktop--font-size);
    }

    .custom-html-widget {
      .categories-articles {
      font-size: $front-page-separateurs-categories--desktop--font-size;
      }

      .tous-articles {
        .signe {
        @include grid-column(7, $principal-grid);
        @include rem(font-size, $front-page-une-articles-suppl-signe--desktop--font-size);
        line-height: 0.8;
        margin-left: 22px;
        }
        .texte-lien {
        @include grid-column(3, $principal-grid);
        padding-right: 22px;
        @include rem(font-size, $front-page-une-articles-suppl-texte--desktop--font-size);
        }

      }
    }



  }

// ordis
  @media only screen and (min-width: $screen-size--large) {
    .post-info {
    @include rem(font-size, $front-page-postinfo--desktop--font-size);
    }
  }


}
