/* ----- front page : billet à la une  ----- */


.front-page-une {

  .wrap {
  padding: 4% 10% 2%;
  }

  article {
  padding: 2%;
    .entry-time,
    .entry-categories a {
    background: $celadon-light;
    color: $gris-moyen;
    text-decoration: none;
    }

    .entry-title {
    @include rem(font-size, $front-page-une-title--mobile--font-size) ;
    margin-bottom: 20px;
    }

    a.more-link {
    background: $celadon;
    }

  }
}




//large mobile
@media only screen and (min-width: $screen-size--small) {

  .front-page-une {
    article {

      .entry-title {
      @include rem(font-size, $front-page-une-title--tablet--font-size) ;
      margin-bottom: 30px;
      }

      a.aligncenter,
      p {
      padding-left: 48px;
      }

      p.byline {
      padding-left: 0px;
      }
    }
  }

}


//tablette
@media only screen and (min-width: $screen-size--regular) {
  .front-page-une {

    article {
      .post-info,
      .entry-title {
      @include grid-column(6, $principal-tablet-grid);
      // margin-left: 0px !important;
      clear: both;
      }

      a.aligncenter,
      p {
      padding-left: 0px;
      }

      img {
      @include grid-column(4, $principal-tablet-grid);
      }

      p {
      @include grid-column(4, $principal-tablet-grid);
      float: right;
      }
    }
  }
}


//desktop
@media only screen and (min-width: $screen-size--large) {

.front-page-une {
  .wrap {
  padding: 4% 12% 2%;
  }

  article {
    @include grid-column(12, $principal-grid);

     .post-info,
     .entry-title {
     @include grid-column(10, $principal-grid);
     }

     .entry-title {
     @include rem(font-size, $front-page-une-title--desktop--font-size) ;
     }

     img {
     @include grid-column(5, $principal-grid);
     @include grid-push(1, $principal-grid);
     }

     p {
     @include grid-column(6, $principal-grid);
       .more-link {
        float: right;
        }
     }

   }
 }
}
