// thin
$border--thin-white: 1px solid $white;
$border--thin-celadon: 1px solid $celadon;
$border--thin-gris-clair: 1px solid $gris-clair;
$border--thin-gris-moyen: 1px solid $gris-moyen;


// medium
$border--medium-white: 3px solid $white;
$border--medium-celadon: 3px solid $celadon;
$border--medium-rose: 3px solid $rose;
$border--medium-gris: 3px solid $gris;

// medium
$border--large-white: 8px solid $white;
$border--large-celadon: 8px solid $celadon;
$border--large-rose: 8px solid $rose;
