// Base Colors
//===================
$white: #fff;
$black: #000;

$gris-tres-clair: #F9F9F9;
$gris-clair: #EDEDED;
$gris-moyen: #7E7E7E;
$gris: #3D3F3E;

$celadon: #C6F4D2;
$celadon-light: #E8FCEC;
$celadon-super-light: #F8FFF9;
$celadon-dark: #9DCEAD;
$rose: #FC427C;
$rose-light: #FCD6DE;
$rose-super-light: #FFF8FB;
$rose-dark: #A50740;

//
// Color Configuration
//===========================

$link--color: $rose;
$link--hover-color: $gris;

// Elements
$base__color: $gris-moyen;
$body--background-color: $white;

// Form Elements
$input--background-color: $white;
$input--border-color: $gris-clair;
$input--color: $gris;
$input--focus-border-color: $gris-clair;
$button--background-color: $gris;
$button--color: $white;
$button--hover-background-color: $rose;
$button--hover-color: $white;
$button--disabled-background-color: $gris-clair;
$button--disable-color: $gris-moyen;

//
// Header
//======================
$site-header--background-color: $white;
$site-title--link-color: $gris;

//
// Navigation
//============================
$nav--link-color: $gris;
$nav--hover-color: $rose;
$submenu--border-color: $gris-clair;
$submenu--link-background-color: $white;

$primary-nav--background-color: $white;
$primary-nav--border-color: $gris-clair;
$primary-nav--link-color: $nav--link-color;

$secondary-nav--background-color: $white;
$secondary-nav--border-color: $gris-clair;
$secondary-nav--link-color: $nav--link-color;

$responsive-nav--background-color: $white;
$responsive-nav--hover-color: $black;
$responsive-nav--focus-color: $rose;

$nav-toggle--background-color: transparent;
$nav-toggle--color: $celadon;

$archive-pagination--background-color: $white;
$archive-pagination--color: $gris;
$archive-pagination--hover-background-color: $rose;
$archive-pagination--hover-color: $white;

//
// Footer
//============================
$siteFooter--background-color: $celadon-light;
$site-footer--border-color: $gris-clair;
$footer-widgets--background-color: $white;

//
// Entry Content
//===================
$entry-footer__meta--border-color: $gris-clair;
$entry--background-color: transparent;

$entry-title--link-color: $gris;
$entry-title--hover-color: $rose;

$entry-title--color: $gris;

$entry-content__code--background-color: $gris-clair;
$entry-content__code--color: $gris;

//
// Comments
//===================
$comment--background-color: $white;

//
// Widgets
//===================
$widget-title--link-color: $gris;


//
// Plugins
//===================
$enews--background-color: $gris;
$enews--color: $white;
$enews__input--border-color: $gris;
$enews__submit-button--background-color: $rose;
$enews__submit-button--color: $white;
$enews__submit-button__BackgroundHoverColor: $white;
$enews__submit-button--hover-color: $rose;

// General Components
$breadcrumbs--background-color: $white;
$author-box--background-color: $white;
$after-entry--background-color: $white;
$archive-description--background-color: $gris-clair;
