// Common Fonts
$font-family--primary: 'Open Sans', sans-serif;
$font-family--headings: 'Montserrat', sans-serif;
$font-family--accent: 'Noto Serif', serif;

$base--font-family: $font-family--primary;

// Base Typography
//===========
$html--font-size: 62.5%;


$base--font-size: 16px;
$base--mobile--font-size: 14px;
$base--div--font-size: 1.6rem;
$base--div--mobile--font-size: 1.4rem;
$base--line-height: 1.5;

$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-heavy: 800;
$font-weight-thin: 300;



// Headings
//===========
// $headings--font-family: $font-family--headings;
$headings--line-height: 1.4;

$h1--desktop--font-size:  42px;
$h2--desktop--font-size:  30px;
$h3--desktop--font-size:  24px;
$h4--desktop--font-size:  20px;
$h5--desktop--font-size:  18px;
$h6--desktop--font-size:  16px;

$h1--tablet--font-size:  42px;
$h2--tablet--font-size:  30px;
$h3--tablet--font-size:  24px;
$h4--tablet--font-size:  20px;
$h5--tablet--font-size:  18px;
$h6--tablet--font-size:  16px;

$h1--mobile--font-size:  42px;
$h2--mobile--font-size:  30px;
$h3--mobile--font-size:  24px;
$h4--mobile--font-size:  20px;
$h5--mobile--font-size:  18px;
$h6--mobile--font-size:  16px;


// Elements
//===========

$input--desktop--font-size: 18px;
$input--tablet--font-size: 18px;
$input--mobile--font-size: 18px;

$button--desktop--font-size: 16px;
$button--tablet--font-size: 16px;
$button--mobile--font-size: 16px;


// Navigation
//===========


$menu-primary--mobile--font-size: 14px;
$menu-primary--tablet--font-size: 16px;
$menu-primary--desktop--font-size: 18px;


$menu-secondary--desktop--font-size: 16px;



$submenu--desktop--font-size: 14px;
$submenu--tablet--font-size: 14px;
$submenu--mobile--font-size: 14px;

$primary-nav--font-size: 14px;
$archive-pagination--font-size: 16px;

//
// Header
//==================
$site-title--font-size: 30px;
$site-description--font-size: 16px;


//
// Footer
//==================
$site-footer--font-size: 16px;
$footer-widgets--font-size: 18px;


//
// Front page widget
//===================

$front-page-postinfo--mobile--font-size: 16px;
$front-page-postinfo--tablet--font-size: 18px;
$front-page-postinfo--desktop--font-size: 20px;

$front-page-separateurs-categories--mobile--font-size: 14px;
$front-page-separateurs-categories--tablet--font-size: 18px;
$front-page-separateurs-categories--desktop--font-size: 20px;

$front-page-une-title--mobile--font-size: 28px;
$front-page-une-title--tablet--font-size: 38px;
$front-page-une-title--desktop--font-size: 46px;

// bouton lire les articles sur le même sujet
$front-page-une-articles-suppl-texte--mobile--font-size: 18px;
$front-page-une-articles-suppl-texte--tablet--font-size: 22px;
$front-page-une-articles-suppl-texte--desktop--font-size: 26px;

$front-page-une-articles-suppl-signe--mobile--font-size: 70px;
$front-page-une-articles-suppl-signe--tablet--font-size: 80px;
$front-page-une-articles-suppl-signe--desktop--font-size: 90px;

$front-page-secondaires-title--mobile--font-size: 22px;
$front-page-secondaires-title--tablet--font-size: 32px;
$front-page-secondaires-title--desktop--font-size: 38px;

$front-page-about-texte--mobile--font-size: 24px;
$front-page-about-texte--tablet--font-size: 28px;
$front-page-about-texte--desktop--font-size: 30px;

$front-page-about-liens--mobile--font-size: 22px;
$front-page-about-liens--tablet--font-size: 32px;
$front-page-about-liens--desktop--font-size: 38px;

//
// Entry Content
//===================

$entry-header-meta--mobile--font-size: 16px;
$entry-header-meta--tablet--font-size: 18px;
$entry-header-meta--desktop--font-size: 18px;

$entry-footer-meta--mobile--font-size: 18px;
$entry-footer-meta--tablet--font-size: 20px;
$entry-footer-meta--desktop--font-size: 20px;

$entry-title--mobile--font-size: 42px;
$entry-title--tablet--font-size: 52px;
$entry-title--desktop--font-size: 60px;

//
// Single post
//===================

$h1-single--mobile--font-size: 38px;
$h2-single--mobile--font-size: 32px;
$h3-single--mobile--font-size: 26px;
$h4-single--mobile--font-size: 26px;
$h5-single--mobile--font-size: 30px;
$h6-single--mobile--font-size: 24px;

$h1-single--tablet--font-size: 40px;
$h2-single--tablet--font-size: 32px;
$h3-single--tablet--font-size: 26px;
$h4-single--tablet--font-size: 26px;
$h5-single--tablet--font-size: 34px;
$h6-single--tablet--font-size: 26px;

$h1-single--desktop--font-size: 50px;
$h2-single--desktop--font-size: 40px;
$h3-single--desktop--font-size: 34px;
$h4-single--desktop--font-size: 34px;
$h5-single--desktop--font-size: 38px;
$h6-single--desktop--font-size: 30px;

$bibliographie-titre--mobile--font-size: 28px;
$bibliographie-titre--tablet--font-size: 30px;
$bibliographie-titre--desktop--font-size: 36px;

$bibliographie-cat--mobile--font-size: 24px;
$bibliographie-cat--tablet--font-size: 30px;
$bibliographie-cat--desktop--font-size: 30px;


$blockquote--mobile--font-size: 22px;
$blockquote--tablet--font-size: 24px;
$blockquote--desktop--font-size: 26px;



//
// Comments
//===================
$title-comments--mobile--font-size: 20px;
$title-comments--tablet--font-size: 24px;
$title-comments--desktop--font-size: 36px;

$comments-notes--mobile--font-size: 16px;
$comments-notes--tablet--font-size: 20px;
$comments-notes--desktop--font-size: 22px;

$comments-content--mobile--font-size: 16px;
$comments-content--tablet--font-size: 20px;
$comments-content--desktop--font-size: 24px;

$comments-placeholder--mobile--font-size: 18px;
$comments-placeholder--tablet--font-size: 22px;
$comments-placeholder--desktop--font-size: 24px;

//
// Widgets
//===================
$widget-title--font-size: 18px;
$featured-content__entry-title--font-size: 20px;

//
// Plugins
//===================
$enews--font-size: 16px;

//
// General Components
//===================
$breadcrumbs--font-size: 16px;
$author-box--font-size: 18px;
$author-box__Title--font-size: 20px;
$after-entry--font-size: 18px;
$archive-description--font-size: 18px;
$archive-title--font-size: 20px;
