/* ----- site header : base ----- */

.site-header {
background-color: $site-header--background-color;
@include grid-column(5, $principal-tablet-grid);
@include grid-push(1, $principal-tablet-grid);

    .wrap {
    padding-left: 5%;
    padding-right: 5%;
    }

}

@media only screen and (min-width: $screen-size--regular) {
  .site-header {
  @include grid-column(6, $principal-grid);
  @include grid-push(2, $principal-grid);
    > .wrap {
    padding: 20px 0;
    }
  }
}
